
.to-chat-room{
    display: block;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: 0.5s;
}

.to-chat-room:hover{
    /* padding: 5px; */
    border: 1px solid rgba(128, 128, 128, 0.479);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.356);
}