

.chat-container{
    background-color:#abc1d1 ;
    height: 100vh;
    position: relative;
}
.chat-header{
    margin: 20px 0;
    padding: 0 20px;
    display: flex;
    align-items: center;

}
.chat-header > div{
    width: 33.333%;
}
.chat-header h2{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}
.chat-header__icons{
    display: flex;
    justify-content: flex-end;
}
.chat-header__icons div iconify-icon{
    margin-right: 10px;
}

.date {
    width: 30%;
    text-align: center;
    margin: 20px auto;
    padding: 7px 10px;
    border-radius: 10px;
    background-color:#92a4b2 ;
    color: #fff;
    font-size: 12px;
}
.chat-side{
    display: flex;
    margin: 20px;
    gap: 7px;
    padding: 5px 0;
}
.chat-side img {
    border-radius: 50%;
}
.chat-side-profile p {
    margin: 5px 0;
}
.chat-side-text{
    display: flex;
    align-items: flex-end;
}
.chat-side-text p{
    font-weight: 600;
background-color: white;
  padding: 13px;
  font-size: 18px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin: 0 7px;
}
.chat-side-text  span {
    font-size: 15px;
}
.chat-mine {
    justify-content: flex-end;
}

.chat-mine .chat-side-text {
    flex-direction: row-reverse;
}
.chat-mine .chat-side-text p{
    background-color: var(--yellow);
    border-top-left-radius: 15px;
    border-top-right-radius: 0px;
}

.reply{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 13px;
    box-sizing: border-box;
    color: gray;
}
.reply div:first-child{
    width: 5%;
}
.reply div:last-child{
    width: 90%;
    position: relative;
}
.reply__column input[type="text"]{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid gray;
    /* box-sizing: border-box; */

}
.reply-icons > iconify-icon, .reply-icons button{
    position: absolute;
}
.reply-icons iconify-icon:nth-of-type(1){
    top: 5px;
    right: 25px;
}
.reply-icons button{
    cursor: pointer;
    top: 0;
    right: -21px;
    background-color: var(--yellow);
    border: none;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}